html {
    /*    1em = 16px*/
    font-size: 1em;
}

body {
    background-color: black;
    font-family: 'Special Elite', cursive;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    overflow: hidden;
}

.folder {
    position: relative;
    display: inline-block; 
    margin-left: 15em;
} 

div.container {
    font-family: 'Special Elite', cursive;
    text-align: center;
    padding-top: 6.5em;
    padding-bottom: 3em;
    padding-left: 19.5em;
    padding-right: 14em;
    position: absolute;
}

div.descriptions {
    margin: 0, 1em, 0, 0;
}

img.header {
    margin: 0;
}

img {
    margin: 1em;
    float: left;
}

.home img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


div.home {
    margin: 1.3em 7em .8em 7em;
}

div.placeholder {
    width:200;
    height:200;
}

@font-face{
    font-family:'digital-clock-font';
    src: url('public/timefont.ttf');
}

.settime {
    font-family:'digital-clock-font';
    width: 5em;
    border: none;
    font-size: 1.5em;
    background-color: white;
}

.settime:hover {
    border:none;
}

.identity {
    border:none;
    margin-bottom:1em;
    padding:0;
}

.identityimg {
    margin:0;
    background-color:none;
}

div.col-sm-8 {
    position:relative;
}

.displaytime {
    font-family:'digital-clock-font';
    font-size: 200;
    position: absolute;
    top: -60;
    color: #d94a4c;
}

div.menu {
    position: absolute;
    top: 150;
    margin-left: 1em;
    margin-right: 1em;
    width: 380;
    margin-top: 1em;
}

.menubuttons {
    font-family:'digital-clock-font';
    font-size:2em;
    /* margin-left: 1em;
    margin-right: 1em; */
    padding:0;
}

.singleline {
    width: 600;
    margin-top: 1em;
    top: -10;
    position: relative;
}

p {
    font-size: 0.7em;
    font-family: 'Special Elite', cursive;
    text-align: left;
}

/*this is a group selection, selecting all the headlines h1-h4*/
h1 {
    font-family: 'Special Elite', cursive;
    font-size: 4em;
    text-align: center;
    color: #d94a4c;
    border: none;
}

.rules {
    margin-right: 13.5em;
}

.copybutton {
    text-align:center;
    background:none;
    border:none;
    color: #d94a4c;
    margin-left: 3.5em;
    margin-right: 3.5em;
    position: relative;
    top: -1.5em;
}

.copybutton:hover {
    text-decoration:underline;
    border:none;
}

.copybutton .copyimg {
    display:none;
}
.copybutton:hover .copyimg {
    display:inline;
}

.copybutton:hover .copyimg1 {
    display:none;
}

h2 {
    font-family: 'Special Elite', cursive;
    font-size: 1.5em;
    color:black;
    text-align:left;
    margin-right: 11em;
    padding-left: 0.2em;
    text-decoration: underline;
}

h3 {
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    color: #d94a4c;
}

a:hover {
    color:#d94a4c;
    text-decoration: underline;
}

a {
    font-size: 1em;
    color: #d94a4c;
}