html {
    /*    1em = 16px*/
    font-size: 1em;
}

body {
    background-color: black;
    font-family: 'Special Elite', cursive;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    /* overflow: hidden; */
}

.folder {
    position: relative;
    display: inline-block; 
    margin-left: 15em;
} 

div.container {
    font-family: 'Special Elite', cursive;
    text-align: center;
    padding-top: 6.5em;
    padding-bottom: 3em;
    padding-left: 19.5em;
    padding-right: 14em;
    position: absolute;
}

div.descriptions {
    margin: 0, 1em, 0, 0;
}

.joininput {
    border:none;
}

.jointext {
    margin-left: 3em;
    margin-bottom: 0.8em;
    margin-right: 0;
    width: 8em;
}

img.header {
    margin: 0;
}

img {
    margin: 1em;
    float: left;
}

.home img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


div.home {
    margin: 1.3em 7em .8em 7em;
}

div.placeholder {
    width:200;
    height:200;
}

@font-face{
    font-family:'digital-clock-font';
    src: url('public/timefont.ttf');
}  

.settime {
    font-family:'digital-clock-font';
    width: 5em;
    border: none;
    font-size: 1.5em;
    background-color: white;
}

.settime:hover {
    border:none;
}

.identityimg {
    margin:0;
    background-color:none;
    cursor:pointer;
}

.identity:hover .identityimg {
    filter: brightness(80%);
}

.identity:focus, .button:focus, [type="submit"]:focus {
    outline: none;
}

.up:hover .upimg {
    filter: brightness(50%);
}

.down:hover .downimg {
    filter:brightness(50%);
}

div.col-sm-8 {
    position:relative;
}

div.menu {
    position: absolute;
    top: 150;
    margin-left: 1em;
    margin-right: 1em;
    width: 380;
    margin-top: 1em;
}

.menubuttons {
    font-family:'digital-clock-font';
    font-size:2em;
    /* margin-left: 1em;
    margin-right: 1em; */
    padding:0;
}

.pausebut {
    color:#d94a4c;
}

.pausebut:hover {
    text-decoration:underline;
}

.singleline {
    width: 600;
    margin-top: 1em;
    top: -10;
    position: relative;
}

p {
    font-size: 0.7em;
    font-family: 'Special Elite', cursive;
    text-align: left;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 4em;
    text-align: center;
    color: #d94a4c;
    border: none;
}

.rules {
    margin-right: 13.5em;
}

.clickcopy {
    position: relative;
    margin-left: 1.5em;
    bottom: 0.9em;
}

.copybutton {
    text-align:center;
    background:none;
    border:none;
    color: #d94a4c;
    position: relative;
    cursor: pointer;
    top: -2em;
    right: 3em;
}

.copybutton:hover {
    text-decoration:underline;
    border:none;
}

.copybutton .copyimg {
    display:none;
}
.copybutton:hover .copyimg {
    display:inline;
}

.copybutton:hover .copyimg1 {
    display:none;
}

.copybutton:focus, .button:focus, [type="submit"]:focus {
    outline: none;
}

.spybut {
    padding:0;
    margin:0;
    margin-top:1em;
}

.spyimg {
    padding:0;
    margin:0;
}

div.col-sm-1 {
    padding-left:0;
}
 
div.col-sm-5 {
    padding-left:0;
}

div.spyrow {
    margin-left:0.5em;
    position: relative;
    top: -2.5em;
}

.smallline {
    width: 12em;
    height: 0.5em;
    position: relative;
    top: -3em;
}

.box {
    border:none;
}

.box:focus, [type="submit"]:focus {
    outline:none;
}

button {
    border:none;
    background:none;
    cursor:pointer;
    padding:0;
}

button:focus, [type="submit"]:focus {
    outline: none;
}

h2 {
    font-family: 'Special Elite', cursive;
    font-size: 1.5em;
    color:black;
    text-align:left;
    margin-right: 11em;
    padding-left: 0.2em;
    text-decoration: underline;
}

h3 {
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    color: #d94a4c;
}

h4 {
    font-size:1em;
    font-family: 'Special Elite', cursive;
    color:black;
    text-align:left;
    border:none;
    background:none;
}

a:hover {
    color:#d94a4c;
    text-decoration: underline;
}

a {
    font-size: 1em;
    color: #d94a4c;
}

.box {
    border:none;
}

.done {
    text-decoration: line-through;
    color:#d94a4c;
}

ul {
    padding-left:2em;
}

li {
    font-family: 'Special Elite', cursive;
    color:black;
    font-size:1em;
    text-align:left;
}

.selectopt {
    border: none;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
    width: 10em;
}

.clearbutton {
    font-family: 'Special Elite', cursive;
    color: black;
    font-size: 17;
    position: relative;
    right: 0.8em;
    top: 0.2em;
}

.clearbutton:hover {
    color:#d94a4c;
    text-decoration: underline;
}

/* ///////////////////////////// */
.displaytime {
    font-family:'digital-clock-font';
    font-size: 200;
    position: absolute;
    top: -60;
    color: #d94a4c;
    background:none;
    border:none;
    width:2em;
    /* opacity: 1; */
}

.displaytime:focus, .button:focus, [type="submit"]:focus {
    outline: none;
}

/* For Input Time */
input[type="number"] {
    -webkit-appearance: textfield;
        -moz-appearance: textfield;
            appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

div.updown {
    margin-left: 60em;
    margin-right: 2em;
    height: 23em;
    width: 8em;
    padding-top: 5em;
}

button.up{
    position: relative;
    top: -105em;
}
button.down{
    position: relative;
    top: -105em;
}


/* VOTE PAGE */
.submit {
    font-family: 'Special Elite', cursive;
    font-size: 0.5em;
    color:#d94a4c;
    border: 3px solid #d94a4c;
    width: 5em;
    height: 1.4em;
    border-radius: 10px;
}

.submit:hover {
    filter:brightness(50%);
    text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: black;
    color:#d94a4c;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid black;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 35%;
  }

  .modaltext {
      font-size: 3em;
      padding-left:1em;
      padding-top:0.5em;
      margin-bottom:0;
  }

  .smallmodal {
    font-size: 1.5em;
    margin-left: 2em;
  }

  /* Modal on Host Screen */
  /* The Modal (background) */
.modal_host {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content-host {
    background-color: #efeae4;
    color:black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid whitesmoke;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 35%;
  }

  .modaltext-host {
    font-size: 3em;
    padding-left:1em;
    margin-bottom:0;
  }

  /* The Close Button */
  .close_host {
    color: black;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    margin-left:31em;
  }
  
  .close_host:hover,
  .close_host:focus {
    color: #d94a4c;
    text-decoration: none;
    cursor: pointer;
  }

.hostnameinput {
    width:100%;
    position: relative;
    right: 2.5em;
    border:none;
    font-size: 3em;
}

.lochere {
    position: absolute;
    width: 8em;
    margin: 0;
    height: 8em;
    padding-top: 3.5em;
    padding-left: 0.5em;
    text-align: center;
    padding-right: 0.5em;
    padding-bottom: 0.3em;
    text-decoration: none;
}

.voteexit {
    padding-left:2.5em;
}

.choicebuttons {
    display: none;
}

.choicebuttons:checked ~ label {
    color: #d94a4c;
}

.choicebuttons ~label:hover {
    cursor: pointer;
}

.exitbut {
    font-family: 'Special Elite', cursive;
    color: #d94a4c;
    border: 3px solid #d94a4c;
    width: 5em;
    height: 1.4em;
    border-radius: 10px;
    text-align: center;
    margin-left: 1.5em;
    font-size: 2em;
    text-decoration:none;
}

.exitbut:hover {
    filter:brightness(50%);
    text-decoration: none;
}

.exposed {
    font-size: 1.5em;
    text-align: center;
    color:#d94a4c;
}

.tally {
    margin-left:1em;
}

.loseicon {
    margin-left: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

