html {
    /*    1em = 16px*/
    font-size: 1em;
}

body {
    background-color: black;
    font-family: 'Special Elite', cursive;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    overflow: hidden;
}
  
div.container {
    font-family: 'Special Elite', cursive;
    text-align: center;
    margin-top: 7em;
    padding-top: 10em;
    padding-bottom: 10em;
    padding-left: 45em;
}

div.descriptions {
    margin: 0, 1em, 0, 0;
}

img.header {
    margin: 0;
}

img {
    margin: 1em;
    float: left;
}

.home img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


div.home {
    margin: 1.3em 7em .8em 7em;
}


p {
    font-family: 'Special Elite', cursive;
    text-align: center;
    margin: 1.3em 7em .8em 7em;
}

/*this is a group selection, selecting all the headlines h1-h4*/
h1 {
    font-family: 'Special Elite', cursive;
    font-size: 5em;
    text-align: right;
    color:#ffffff;
    width: 0; 
}

h2 {
    font-family: 'Special Elite', cursive;
    font-size: 2em;
    color:#ffffff;
    border: 3px solid white;  
    width: 7em;
    height: 1.4em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 10px;  
}

h2:hover {
    border-color: #d94a4c;
    text-decoration: none;
}

h3.name {
    padding: 0 0 0 0;
    font-family: 'Special Elite', cursive;
    color: rgb(0, 0, 0);
}

h3 {
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    color:white;
}


nav .sociall {
    color: white;
}

.nav {
    padding: 0 10em 1em 10em;
}

small,
.font_small {
    font-size: 0.75em;
}

.active {
    color: white;
}

.icons {
    padding: 3em;
}

.social {
    font-size: 2em;
    color: darkgoldenrod;
}

.social:hover {
    color: darkgrey;
}

/* link*/
a {
    color: white;
}

.buttons:hover {
    color: #d94a4c;
    border-color: #d94a4c;
    text-decoration: none;
}

/*button style*/
/*solid button style*/
.btn {
    font-size: 1rem;
    letter-spacing: .1em;
    line-height: 2em;
    border-radius: 3em;
    /*    top:1.8 right:3.6 bottom 1.8 left3.6*/
    /*    the size of button*/
    padding: .5em 1em;
    color: black;
    background: rgba(0, 0, 255, 0.5);
    border: none;
}

.btn:hover {
    color: white;
    background-color: black;
    opacity: 0.8;
}

/*outline button style*/
.btn-primary-outline {
    color: indigo;
    background-color: transparent;
    border: 1px indigo solid;
    transition: all 0.5s;
}

.btn-primary-outline:hover {
    color: white;
    background-color: indigo;
    border-color: indigo;
}

